

 @media (max-width: 1140px) {
   .row {
      margin-top: 60px;
   }
   .row__main {
      height: auto;
      flex-wrap: wrap;
   }

   .row__text h3 {
      font-size: 15px;
   }

   .row__mainProducts {
      width: 35%;
      max-width: 270px;
      margin: 10px;
      height: auto;
   }
  
 @media (max-width: 769px) {

   .row__mainProducts {
      min-width: 200px;
   }
  
 }


  
   







