.main-for-products{
    display: flex;
    flex-wrap: wrap;

    .banner-for-products {
        width: 100%;
        height: 300px;
        background-image: url(/assets/img/still-life-details-of-home-interior-on-wooden-table.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        align-items: flex-end;
        padding: 30px;
        h1 {
            color: white;
            font-size: 50px;
            font-weight: 300;
        }
    }
    .left-column-for-filter {
        border-right: black 1px solid;
        margin-top: 10px;
        width: 20%;
    }

    .section-for-products {
        width: 80%;
        padding-right: 20px;

        .space-for-order-search {
            margin-top: 10px;
            height: 60px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 20px;
            .order-search {
                display: flex;
                align-items: center;
                height: 100%;
                background-color: $color1;
                color: white;
                padding: 10px 20px;
            }
        }
    }
}
