
 .container__wsp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    background-color: $color1;
    position: fixed;
    bottom: 5px;
    right: 20px;
    border-radius: 50%;
    transition: 0.2s;
    &:hover {
        transform: scale(1.2);
    }

    i {
        color: white;
     }
 }
 

